/*
@font-face {
    font-family: 'Luciole';
    font-style: normal;
    font-weight: bold;
    src: url('./Luciole-Bold.ttf');
}

@font-face {
    font-family: 'Luciole';
    font-style: italic;
    font-weight: normal;
    src: url('./Luciole-Regular-Italic.ttf');
}
*/

@font-face {
    font-family: 'Luciole';
    font-style: normal;
    font-weight: normal;
    src: url('./Luciole-Regular.ttf');
}

body {
    font-family: 'Luciole', 'Roboto', sans-serif !important;
}